[Unit]
Description=piDeviceSetup

[Service]
User=root
Type=oneshot
RemainAfterExit=true
ExecStart=/home/pradu/devsetup.sh

[Install]
Wants=lightdm.service pulseaudio.service bluetooth.service
