[Unit]
Description=MyCroft
After=multi-user.target
Requires=sound.target
After=sound.target

[Service]
User=pradu
Type=forking
ExecStart=/home/pi/mycroft/start-mycroft.sh all
ExecStop=/home/pi/mycroft/stop-mycroft.sh all

[Install]
WantedBy=graphical.target
